body{
	padding-top: 60px;
}


.table-condensed{
	background-color: white;
}

.panel-title a{
	text-decoration: none;
}

.panel-title a:hover{
	color: #0991E1;
	text-decoration: none;
}


.carousel-caption{
	background-color: rgba(6,32,100,0.5);
}

select{
	color:black;
}

.desta{
	/*background-color: #F4FF2D;*/
	color:#F4FF2D;
}

.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
